<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link href="/css/font-awesome.css" rel="stylesheet" /> -->
    <script src="https://kit.fontawesome.com/21c548f2ca.js" crossorigin="anonymous"></script>
    <title>Mercado Liebre</title>
  </head>
  <body>
      <header>

        <img src="/img/logo-mercado-liebre.svg" alt="logo Mercado Liebre">

        <div class="cuerpo-texto-3">
            <input type="text" placeholder="Buscar productos, marcas">
        </div>

        <i class="fa-solid fa-magnifying-glass"></i>
        
        <div class="cuerpo-texto-2">
            <i class="fa-solid fa-hand-holding-dollar"></i><span>Comprá en cuotas y sin tarjeta de crédito</span> 
        </div>
        
        <nav class="cuerpo-texto">
            <ul>
               <li><a href="./ofertas">Ofertas</a></li>
               <li><a href="./tiendas-oficiales">Tiendas Oficiales</a></li>
               <li><a href="./vender">Vender</a></li>
               <li><a href="./ayuda">Ayuda</a></li>
            </ul>
            <ul>  
               <li><a href="./crear-cuenta">Creá tu cuenta</a><i class="fa-regular fa-address-card"></i></li>
               <li><a href="./ingresa">Ingresá</a><i class="fa-solid fa-right-to-bracket"></i></li>
               <li><a href="./compras">Mis compras</a><i class="fa-solid fa-basket-shopping"></i></li>
            </ul>

        </nav>

        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
        
      </header>

      <main>

        <img class="banner" src="/img/img-home-banner.jpg" alt="banner mercado liebre">
          
        <section>
                <h3>Basado en tu última visita</h3>
                <div class="articulo">
                    <img src="/img/img-cafetera-moulinex.jpg" alt="cafetera moulinex">
                    <div class="articulo-detalle">
                        <div class="card__icon">
                            <i class="fa-solid fa-truck"></i>
                       </div>
                        <p class="precio">$6.770</p>
                        <p class="descuento">40% off</p>
                        <p class="descripcion">Cafetera Moulinex</p>
                    </div>
                </div>
                <div class="articulo">
                    <img src="/img/img-macbook-pro-2019.jpg" alt="macbook pro 2019">
                    <div class="articulo-detalle">
                        <div class="card__icon">
                            <i class="fa-solid fa-truck"></i>
                        </div>
                        <p class="precio">$230.000</p>
                        <p class="descuento">20% off</p>
                        <p class="descripcion">Macbook Pro 2019</p>
                    </div>
                </div>
                <div class="articulo">
                    <img src="/img/img-samsung-galaxy-s10.jpg" alt="samsung galaxy s10">
                    <div class="articulo-detalle">
                        <div class="card__icon">
                            <i class="fa-solid fa-truck"></i>
                        </div>
                        <p class="precio">$70.500</p>
                        <p class="descuento">10% off</p>
                        <p class="descripcion">Samsung Galaxy s10</p>
                    </div>
                </div>
                <div class="articulo">
                    <img src="/img/img-tv-samsung-smart.jpg" alt="samsung smart tv">
                    <div class="articulo-detalle">
                        <div class="card__icon">
                            <i class="fa-solid fa-truck"></i>
                        </div>
                        <p class="precio">$23.200</p>
                        <p class="descuento">5% off</p>
                        <p class="descripcion">SmarTv Samsung 43"</p>
                    </div>
                </div>
                
          </section>

          <section>
            <h3>Basado en tu última visita</h3>
            <div class="articulo">
                <img src="/img/img-cafetera-moulinex.jpg" alt="cafetera moulinex">
                <div class="articulo-detalle">
                    <div class="card__icon">
                        <i class="fa-solid fa-truck"></i>
                    </div>
                    <p class="precio">$6.770</p>
                    <p class="descuento">40% off</p>
                    <p class="descripcion">Cafetera Moulinex</p>
                </div>
            </div>
            <div class="articulo">
                <img src="/img/img-macbook-pro-2019.jpg" alt="macbook pro 2019">
                <div class="articulo-detalle">
                    <div class="card__icon">
                        <i class="fa-solid fa-truck"></i>
                    </div>
                    <p class="precio">$230.000</p>
                    <p class="descuento">20% off</p>
                    <p class="descripcion">Macbook Pro 2019</p>
                </div>
            </div>
            <div class="articulo">
                <img src="/img/img-samsung-galaxy-s10.jpg" alt="samsung galaxy s10">
                <div class="articulo-detalle">
                    <div class="card__icon">
                        <i class="fa-solid fa-truck"></i>
                    </div>
                    <p class="precio">$70.500</p>
                    <p class="descuento">10% off</p>
                    <p class="descripcion">Samsung Galaxy s10</p>
                </div>
            </div>
            <div class="articulo">
                <img src="/img/img-tv-samsung-smart.jpg" alt="samsung smart tv">
                <div class="articulo-detalle">
                    <div class="card__icon">
                        <i class="fa-solid fa-truck"></i>
                    </div>
                    <p class="precio">$23.200</p>
                    <p class="descuento">5% off</p>
                    <p class="descripcion">SmarTv Samsung 43"</p>
                </div>
            </div>
            
      </section>

      </main>

      <footer>
        <div class="div-footer">

                <i class="fa-solid fa-credit-card"></i>

            <h4>Pagá con tarjeta o en efectivo</h4>
            <p>
                Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!
            </p>    
        </div>
        <div class="div-footer">

                <i class="fa-solid fa-gift"></i>

            <h4>Envío gratis desde $ 2.500</h4>
            <p>
                Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.
            </p>
        </div>

        <div class="div-footer">

                <i class="fa-solid fa-user-shield"></i>

            
            <h4>Seguridad, de principio a fin</h4>
            <p>
                ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.
        </div>

        <div>
            <p class="copyright">
                <b>Copyright © 1999-2020 MercadoLiebre S.R.L.</b>
            </p>
        </div>

      </footer>

  </body>
</html>

