header{
    background-color: #EAC926;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 10px;
}

body{
    background-color: #ebebeb;
    font-family: 'Roboto', sans-serif;
}

main{
    margin: auto;
    width: 90%;
}

footer{
    font-family: 'Roboto', sans-serif;
    background-color: white;
}

img{
    max-width: 100%;
    height: auto;
}

/* .articulo{
    padding-bottom: 10px;
} */

.articulo-detalle{
    display: block;
    border-top: solid 1px #ebebeb;
    background-color: white;
}

.copyright{
    font-size: 12px;
    color: #8c8c8c;
}

h3{
    font-size: 24px;
}

.precio{
    font-size: 18px;
}

.descuento{
    font-size: 16px;
    color: #39b54a;
}

.descripcion{
    font-size: 16px;
    display: block;
}

.cuerpo-texto{
    font-size: 12px;
}

.cuerpo-texto-2{
    font-size: 12px;
    text-align: center;
    padding: 10px;;
}

input{
    width: 80%;
}

.cuerpo-texto-3{
    font-size: 12px;
    margin-left: 20px;
}

ul{
    list-style: none;
    padding-inline-start: 0px;
}

a{
    color: black;
    text-decoration-line: none;
}

.burger-menu{
    /* float: center; */
    text-align: center;
}

.div-footer{
    text-align: center;
}

.fa-bars{
    font-size: 15px;
    color: #ebebeb;
    background-color: #1259c3;
    padding: 10px;
    border-radius: 5px;
}

.fa-credit-card {
    font-size: 3em;
    color: #1259c3;
}

.fa-gift{
    font-size: 3em;
    color: #1259c3;  
}

.fa-user-shield{
    font-size: 3em;
    color: #1259c3;
}

.fa-magnifying-glass{
    background-color: #ebebeb;
    border: 1px solid black;
    border-radius: 2px;
    margin-left: 20px;
    margin-top: 2px;
}

@media only screen and (max-width: 360px){
    .descripcion{
        display: none;
    }
    .cuerpo-texto{
        display: none;
    }
}

@media only screen and (min-width: 361px){
    .articulo{
        color: black;
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    .burger-menu{
        display: none;
    }
}

@media only screen and (min-width: 769px){
    .descripcion{
        display: block;
    }
    .burger-menu{
        display: none;
    }
}